<div style="display:block;border: 1px solid grey;height:{{height}};width:{{width}}">

<div class="container">
  {{#if showColumnsDropdown}}
    {{partial columnsDropdownTemplate}}
  {{/if}}

<table class="table table-striped"> 


</table>




</div>

</div>
{{yield}}
