GRID!!
<div class="grid-container">
<button {{action "toggle" "grid" on="mouseUp"}}> ✓ </button>
{{hoppr-grid height="400px" width="500px" options=gridOptions}}	

{{#if collapsed}}
	Collapsed
{{else}}
	Expanded
{{/if}}
</div>